@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<!-- Authentication card start -->
<div class="login-card card-block auth-body mr-auto ml-auto">
    <form class="md-float-material" method="post">
        <div class="text-center">
            <b>PetsFactory</b>
        </div>
        
        <div class="auth-box">
            <div class="row m-b-20">
                <div class="col-md-12">
                    <h3 class="text-left txt-primary">Sign In</h3>
                </div>
            </div>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="input-group">
                <input type="email" asp-for="Input.Email" class="form-control" placeholder="Your Email Address">
            </div>
            <span class="md-line text-danger" asp-validation-for="Input.Email"></span>

            <div class="input-group">
                <input type="password" asp-for="Input.Password" class="form-control" placeholder="Password">

            </div><span class="md-line text-danger" asp-validation-for="Input.Password"></span>

            <div class="row m-t-25 text-left">
                <div class="col-sm-7 col-xs-12">
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" asp-for="Input.RememberMe">
                            <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                            <span class="text-inverse">@Html.DisplayNameFor(m => m.Input.RememberMe)</span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-5 col-xs-12 forgot-phone text-right">
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-right f-w-600 text-inverse">Register as a new user</a>

                </div>
            </div>
            <div class="row m-t-30">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Sign in</button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-9">
                    <p class="text-inverse text-left m-b-0">Thank you and enjoy our website.</p>
                    <p class="text-inverse text-left"><b>PetsFactory Team</b></p>
                </div>
                <div class="col-md-2">
                    <b class="text-black-50">PetsFactory</b>
                </div>
            </div>

        </div>
    </form>
    <!-- end of form -->
</div>
<!-- Authentication card end -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
