@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<!-- Authentication card start -->
<div class="signup-card card-block auth-body mr-auto ml-auto">
    <form class="md-float-material" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div class="text-center">
            <b>PetsFactory</b>

        </div>
        
        <div class="auth-box">
            <div class="row m-b-20">
                <div class="col-md-12">
                    <h3 class="text-center txt-primary">Sign up. It is fast and easy.</h3>
                </div>
            </div>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="input-group">
                <input type="text" asp-for="Input.Name" class="form-control" placeholder="Choose Username">
            </div>
            <span class="md-line text-danger" asp-validation-for="Input.Name"></span>

            <div class="input-group">
                <input type="text" class="form-control" asp-for="Input.Email" placeholder="Your Email Address">
            </div>
            <span class="md-line text-danger" asp-validation-for="Input.Email"></span>

            <div class="input-group">
                <input type="password" class="form-control" asp-for="Input.Password" placeholder="Choose Password">
            </div>
            <span class="md-line text-danger" asp-validation-for="Input.Password"></span>

            <div class="input-group">
                <input type="password" class="form-control" asp-for="Input.ConfirmPassword" placeholder="Confirm Password">

            </div>
            <span class="md-line text-danger" asp-validation-for="Input.ConfirmPassword"></span>

            <div class="row m-t-30">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Sign up now.</button>
                </div>
            </div>
            <div class="row m-t-30 justify-content-center">
                <div class="col-md-6">
                    <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-success btn-md shadow text-center m-b-20">Already have an account? Login</a>
                </div>
            </div>
            <hr />

            <div class="row">
                <div class="col-md-8">
                    <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-default btn-md shadow text-center mb-2" style="background-color: #fff;">Go back to home page</a>
                </div>
                <div class="col-md-2">
                    <b class="text-black-50">PetsFactory</b>
                </div>
            </div>
        </div>
    </form>
    <!-- end of form -->
</div>
<!-- Authentication card end -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
