@{
    ViewData["Title"] = "Home Page";
}

<!-- visitor landing page -->
<div class="signup-card card-block auth-body mr-auto ml-auto">
    <div class="md-float-material">
        <div class="text-center">
            <b>PetsFactory</b>
        </div>
        <div class="auth-box">
            <div class="row m-b-20">
                <div class="col-md-12">
                    <h3 class="text-center txt-primary">Get started now. It is fast and easy.</h3>
                    <div class="text-black-50 text-left ml-5">
                        <p>
                            <ul style="list-style-type: circle;">
                                <li>Register with PetsFactory to view all available pets</li>
                                <li>Requests for your desired pet</li>
                                <li>Await Approval from PetsFactory Team</li>
                                <li>Get your Pets from PetsFactory</li>
                                <li>Leave a testimony for us</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <hr />
            <!-- register and login buttons -->
            <div class="row m-t-30">
                <div class="col-md-12">
                    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Register now to get started.</a>
                </div>
            </div>
            <div class="row m-t-30 justify-content-center">
                <div class="col-md-6">
                    <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-success btn-md shadow text-center m-b-20">Already have an account? Login</a>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    <p class="text-inverse text-left"><b>PetsFactory</b></p>
                </div>
                
            </div>
        </div>
    </div>
    <!-- end of form -->
</div>
